export(dw.filter)
export(hybrid.filter)
export(robust.filter)
export(robreg.filter)
export(wrm.filter)
export(wrm.smooth)
export(rm.filter)
export(lms.filter)
export(lts.filter)
export(dr.filter)
export(lqd.filter)
export(med.filter)
export(adore.filter)
export(madore.filter)

S3method(print, dw.filter)
S3method(print, hybrid.filter)
S3method(print, robust.filter)
S3method(print, robreg.filter)
S3method(print, wrm.smooth)
S3method(print, wrm.filter)
S3method(print, adore.filter)
S3method(print, madore.filter)

S3method(plot, dw.filter)
S3method(plot, hybrid.filter)
S3method(plot, robust.filter)
S3method(plot, robreg.filter)
S3method(plot, wrm.filter)
S3method(plot, wrm.smooth)
S3method(plot, adore.filter)
S3method(plot, madore.filter)

importFrom(robustbase, Sn, Qn)
importFrom(MASS, ltsreg, lmsreg)

useDynLib(robfilter) 